{% extends 'core/base.html' %}
{% load static %}

{% block content %}


  
<link rel="stylesheet" href="stylesVenta.css">
   
<div class="anc" style="margin-top: 6%; margin-bottom: 5%;">
<section id="contact">
    <h2>Contacto</h2>
    <p>Para contactarnos, escribenos a nuestro correo electrónico:</p>
    <a href="mailto:be.ramirez@duocuc.cl">contacto@musicpro.com</a>
    <p>También puedes llamarnos al siguiente número:</p>
    <p>+56 (9) 8437 1273</p>
    <p>O visitar nuestras tiendas en la siguientes direcciones:</p>
    <p>4820 Calle Falsa, Maipú, Santiago de Chile, Chile</p>
    <p>1231 Calle Real, Vitacura, Santiago de Chile, Chile</p>
    <p>5849 Calle Nueva, Maipú, Santiago de Chile, Chile</p>
    <p>Estamos disponibles de Lunes a Viernes de 9am a 5pm</p>
  </section>
</div>
{% endblock %}