.anc{
   margin-top: 10%;
   margin-bottom: 10%;  /*agrega un margen abajo suficientemente grande*/
   width: 50%;
   height: auto;
   text-align: center;
   align-self: center;
   background-color: rgb(223, 179, 238);
   border: 2px solid rgb(51, 51, 40);
}
   
   .titulo-transf{
   margin-top: 3%;
   }
/* Carrito */

.tituloCarro {
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
}

.tabla-carrito {
   margin: 0 auto; /* centra la tabla horizontalmente */
   width: 80%; /* define el ancho de la tabla */
}

.content{
   flex-grow: 1; /* ocupa todo el espacio disponible entre el header y el footer */
}

.card-container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 2%;
   margin-bottom: 10%; /* para que ocupe toda la pantalla */
 }
 
 .card {
   background-color: rgb(223, 179, 238);
   padding: 1rem;
   color: white; /* o cualquier otro color contrastante */
 }