.anc{
   margin-top: 10%;
   margin-bottom: 10%;  /*agrega un margen abajo suficientemente grande*/
   width: 50%;
   height: auto;
   text-align: center;
   align-self: center;
   background-color: rgb(223, 179, 238);
   border: 2px solid rgb(51, 51, 40);
}
   
.titulo-transf{
margin-top: 3%;
}

.tituloCarro {
   font-family: 'Montserrat', sans-serif;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
}


.tabla-carrito {
   margin: 0 auto; 
   width: 80%;
}

.content{
   flex-grow: 1;
}

.card-container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 2%;
   margin-bottom: 10%;
 }
 
 .card {
   background-color: rgb(223, 179, 238);
   padding: 1rem;
   color: white; 
 }




