:root{
    --cprincipal:rgb(92,22,160);
    --csecundario:rgb(142,92,192);
}

.cl-mr{
    color:var(--cprincipal)
}

.cl-mr a:link{
    color:var(--cprincipal) !important;
}

.btn-primary{
    background-color:var(--csecundario)!important;
}

.btn-primary:hover{
    background-color:var(--cprincipal)!important;
}

