{% extends 'core/base.html' %}
{% load static %}
{% block content %}


<link rel="stylesheet" href="{% static 'css/stylesVenta.css'%}">



<h2 class="tituloCarro">Carrito de compras</h2>
<br />
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Subtotal</th>
                <th scope="col"></th>
            </tr>
        </thead>
        
{% for key, value in request.session.carro.items %}

    <tbody>
        <tr>
            <th scope="row">{{value.nombre}}</th> <!--Nombre Prod-->
                <td>{{value.precio}}</td> <!--Precio-->
                <td>
                    <div class="d-flex align-items-center">
                        <p class="cantidad">{{value.cantidad}}</p> <!--Cantidad-->
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <p class="cantidad">{{ value.subtotal }}</p> <!--Subtotal-->
                    </div>
                </td>
                <td>
                    <a href="{% url 'carro:eliminar' value.producto_id %}">
                    <button type="button" class="btn-inicio" style="margin-left: 70%;">
                       Eliminar
                    </button>
                </a>
                </td>
                
        </tr>
        {% endfor %}
            <tfoot>
             
                <tr>
                    <td>Total:</td> 
                    <td>{{importe_total_carro}}</td> <!--Total (Numero)-->
                </tr>
                
            </tfoot>
    </tbody>
 

    </table>
    <div class="d-flex justify-content-between">
        <a href="{% url 'venta:productos' %}">
        <button type="button" class="btn-inicio" style="margin-left:0%;">
            <i class="fa-solid fa-arrow-left"></i>Volver

        </button>
    </a>  
        <a href="{% url 'venta:medioPago' %}">
            <button class="btn-inicio">Comprar</button>
        </a>    

</div>



</div>





{% endblock %}