{% extends 'core/base.html' %}

{% load static %}
{% block content %}

    <div class="container h-100">
      <div class="row align-items-center">

        <h1 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; text-align: center; margin-top: 10vh;">Seleccione medio de pago</h1>

        <!--Carta 1-->
        <div class="col-6">
          <div class="card" style="text-align:center; width: 21rem; margin-left: 35vh; margin-top: 8vh;">
            <a href="{% url 'venta:eleccionTransferencia' %}">
            <img class="card-img-top" src="{% static 'img/dineroMorado.png'%}" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Transferencia bancaria</h5>
            </div>
          </div>
        </a>
        </div>

        <!--Carta 2-->
        <div class="col-6">
          <div class="card" style="text-align:center; width: 21rem; margin-top: 8vh;">
            <a href="{% url 'integracion_tbk:normal_index' %}">
            <img class="card-img-top" src="{% static 'img/logo-webpay.png' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Credito/Debito</h5>
            </div>
          </div>
        </div>
      </a>
      </div>
    
    </div>
{% endblock %}