{% extends 'core/base.html'%}
{% load static %}
{% load humanize %}

{% block content %}

<!-- inicio productos -->
<div class="cl-mr">
    
    <h1 class="tituloCarro" style="color: white; margin-bottom: 5%;">Productos</h1>
    <div class="ordenProd">
    {% for i in productos %}
   
    <div class="cartaProducto">
        <img class="fotoProducto" src="{{ i.Imagen_Producto.url }}">
        <p class="tituloProducto"><b>{{ i.Nombre }}</b></p>
        <p>Precio:${{ i.Precio | intcomma }}</p>
        <a href="{% url 'carro:agregar' i.ID_producto %}">
        <button class="btn-inicio" style="align-self: left; margin-left: 0;">Comprar</button>
    </a>
    </div>

    {% endfor %}
</div>
</div>

{% endblock %}

<!--
    views.py : para verificar si estas inicializando correctamente la instancia del carro.
models.py: para verificar si la clase "Carro" esta correctamente implementada y si tiene los métodos necesarios (agregar, eliminar, etc.)
carro.py: para verificar si la clase "Carro" esta en el archivo correcto y si esta correctamente importada en views.py
urls.py: para verificar si los URLs para agregar, eliminar, etc. están correctamente configurados y si están apuntando a las funciones correctas en views.py.
-->