{% extends 'core/base.html'%}
{% load static %}


    {% block content %}
    <link rel="stylesheet" href="{% static 'css/stylesVenta.css'%}">

    <div class="anc autoE" style="height:auto;">
        <h5 class="titulo-transf">Pago aceptado</h5>
        <p>Su pago ha sido aceptado y estamos preparando tu pedido,</br> te notificaremos cuando este listo</p>
            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                <a class="navbar-brand " href="{% url 'inicio:inicio' %}">
                <button type="button" class="btn btn-primary btn-lg">Volver al inicio</button>
                </a>
            </div>
</div>

    {% endblock %}
